
@import url('https://fonts.googlepis.com/css2?famaliy=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbad styling */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 80px;
}


#logoimg {
    display: flex;
    align-items: center;
    flex-direction: row;

}

#logoimg img {
    width: 20%;
}

#logoimg h2 {
    /* margin-top: 50px; */
    vertical-align: middle;
}

.navigation {
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;

}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin-top: 100px;
    font-family: "Whitney", -apple-system, "BlinkMacSystemFont", "Segoe UI",
        "Roboto", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.makeagif.com/media/9-14-2021/3XxbIh.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background: #fff;
    z-index: 10;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a img {
    width: 53px;
    height: 36px;
}

.header ul {
    list-style: none;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items li {
    font-size: 13px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out;
}

.nav-last {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
}

.nav-last>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    align-items: center;
    padding-top: 5px;
    margin-left: 15px;
}

#svg {
    height: 14px;
    margin-left: 0px;
}

.search-div {
    position: relative;
    left: 40px;
    display: flex;
    width: 32%;
    background-color: #f5f5f6;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
}

#searchpng {
    width: 15px;
    margin: 15px;
    opacity: 0.5;
}

.search-div input {
    width: 70%;
    border: none;
    margin-left: 2%;
    background-color: #f5f5f6;
    outline: none;
}

.container {
    position: relative;
    max-width: 430px;
    height: 750px;
    width: 100%;
    background: transparent;
    /* border: 2px solid rgba(255,255,255,.5); */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    margin-bottom: 50px;
}

.container .forms {
    display: flex;
    align-items: center;
    max-height: 400px;
    width: 200%;
    transition: height 0.2s ease;

}

.container .form {
    width: 50%;
    padding: 10px 30px 0 30px;

    transition: 0.18s ease;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #beb9b9;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;

}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;

    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background: transparent;

}

.input-field ::placeholder {
    color: #000000;


}

.input-field input:focus {
    border-bottom-color: #383434;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #2e2b2b;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #ff3f6c;
}

.form .text {
    color: #333;
    font-size: 15px;
}

.form a.text {
    color: #ff3f6c;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #7a7878;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600px;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}


/* img */
.login-top-image {
    object-fit: cover;
}

/* form */
.signup {
    margin-top: 140px;
    margin-bottom: 50px;

}