@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#activity{
    width:90%;
    height:800px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap:30px;
    padding-bottom: 20px;
}
#activity>div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#activity div>div:nth-child(2)>h1{
    margin-top:10px;
}
#trecking{
    width:100%;
    border-radius: 3px;;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
#imagesTreck{
    width:100%;
    height:250px;
    /* border:1px solid black; */
}
#imagesTreck>img{
  width:100%;
  height:100%;
  object-fit:cover;
  /* border-radius: 50%; */
    /* border:1px solid black; */
}
#trecking>div:nth-child(2){
    width:100%;  
    text-align: center;
   /* background-color: aqua; */
}
#trecking>div:nth-child(2)>div{
    width:140px;
    height:30px;
    margin: auto;
    margin-top:10px;
    /* border:1px solid red; */
   /* background-color:green; */
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
}
.left:hover{
    background-color:green;
    opacity: 100%;
    color: white;
    font-weight: 600;
}
.right:hover{
    background-color:green;
    opacity: 100%;
    color: white;
    font-weight: 600;
}
.left{
    width:60px;
    font-size:15px;
    height:20px;
    color:#3d3a4e;
    opacity: 80%;
    text-align: center;
    align-items: center;
    background-color:#E0E0E0;
    border-style: none;
    border-radius: 5px;
    font-weight: 550;
}

.right{
    width:60px;
    font-size:15px;
    height:20px;
    font-weight: 900;
    align-items: center;
    color:#3d3a4e;
    opacity: 80%;
    font-weight: 600;
    background-color:#E0E0E0;
    border-style: none;
    border-radius: 5px;;
}

#scuba{
    width:100%;
    /* border:1px solid red; */
}
#imagesScuba{
    width:100%;
    height:250px;
    
    /* border:1px solid black; */
}
#imagesScuba>img{
  width:100%;
  height:100%;
  object-fit:cover;
    /* border:1px solid black; */
}
#scuba>div:nth-child(2){
    height:100px;
    text-align: center;
   /* background-color: aqua; */
}
#scuba>div:nth-child(2)>div{
    width:140px;
    height:30px;
    margin: auto;
    margin-top:10px;
   /* background-color:green; */
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
}



#para{
    width:100%;
    /* border:1px solid red; */
}
#imagesPara{
    width:100%;
    height:250px;
    /* border:1px solid black; */
}
#imagesPara>img{
  width:100%;
  height:100%;
  object-fit:cover;
    /* border:1px solid black; */
}
#para>div:nth-child(2){
    height:100px;
    text-align: center;
   /* background-color: aqua; */
}
#para>div:nth-child(2)>div{
    width:140px;
    height:30px;
    margin: auto;
    margin-top:10px;
    /* border: 1px solid red; */
   /* background-color:green; */
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
}



#historical{
    width:100%;
    /* border:1px solid red; */
}
#imagesHistorical{
    width:100%;
    height:250px;
    /* border:1px solid black; */
}
#imagesHistorical>img{
  width:100%;
  height:100%;
  object-fit:cover;
    /* border:1px solid black; */
}
#historical>div:nth-child(2){
    height:100px;
    text-align: center;
   /* background-color: aqua; */
}
#historical>div:nth-child(2)>div{
    width:140px;
    height:30px;
    margin: auto;
    margin-top:10px;
    /* border: 1px solid red; */
   /* background-color:green; */
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
}
#historical>div:nth-child(2)>h1{
    margin-top:10px;
}



#heritage{
    width:100%;
    /* border:1px solid red; */
}
#imagesHeritage{
    width:100%;
    height:250px;
    /* border:1px solid black; */
}
#imagesHeritage>img{
  width:100%;
  height:100%;
  object-fit:cover;
    /* border:1px solid black; */
}
#heritage>div:nth-child(2){
    height:100px;
    text-align: center;
   /* background-color: aqua; */
}
#heritage>div:nth-child(2)>div{
    width:140px;
    height:30px;
    margin: auto;
    margin-top:10px;
    /* border: 1px solid red; */
   /* background-color:green; */
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
}



#camping{
    width:100%;
    /* border:1px solid red; */
}
#imagesCamping{
    width:100%;
    height:250px;
   
    /* border:1px solid black; */
}
#imagesCamping>img{
  width:100%;
  height:100%;
  object-fit:cover;
  /* border-radius: 50%; */
    /* border:1px solid black; */
}
#camping>div:nth-child(2){
    height:100px;
    text-align: center;
   /* background-color: aqua; */
}
#camping>div:nth-child(2)>div{
    width:140px;
    height:30px;
    margin: auto;
    margin-top:10px;
    /* border: 1px solid red; */
   /* background-color:green; */
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
}

  #header {
    position: static;
    background-color: whitesmoke;
    margin-bottom:30px;
}
 
.btn {
    background-color: #00BFA6;
    width:150px;
    height:20px;
    display: flex;
    margin:auto;
    margin-top:8px;
    justify-content: center;
    align-items: center;
    font-size: 10px;;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .btn span:last-child {
    display: none;
   }
   
   .btn:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color:darkcyan;
    color: #00BFA6;
   }
   .btn:hover h3{
    color:white;
    font-style: oblique;
   }
   
   .btn:active {
    background-color: #87dbd0;
   }
   .btn>a{
    text-decoration: none;
   }

   @media (min-width: 768px) and (max-width: 920px){

    #activity{
        width:90%;
        height:850px;
        /* border:1px solid red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        gap:20px;
        /* overflow-x: scroll; */
    }
   } 
      
   @media (min-width: 100px) and (max-width: 767px){

    #activity{
        width:90%;
        height:850px;
        /* border:1px solid red; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        margin: auto;
        gap:20px;
       
        /* overflow-x: scroll; */
    }
    #activity div{
        /* background-color: #00BFA6; */
        padding-bottom: 20px;;
    }
    .btn{
        margin-top:18px;
    }
    /* #footer{
        width:100%;
        height:300px;
    
    } */
   } 