@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin :0;
    background-color: #210002;
    font-family: Poppins;
    font-size: 15px;
}
.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('../IMAGES/img/0.png');
}
.banner .bg-2{
    background-image: url('../IMAGES/img/banner.png');
}
.banner .bg-3{
    background-image: url('../IMAGES/img/2.png');
}
.banner .bg-4{
    background-image: url('../IMAGES/img/3.png');
}
.banner .bg-5{
    background-image: url('../IMAGES/img/4.png');
}
.banner .bg-6{
    background-image: url('../IMAGES/img/5.png');
  
}
.banner .bg-7{
    background-image: url('../IMAGES/img/6.png');
}
.banner .bg-8{
    background-image: url('../IMAGES/img/7.png');
}
.banner .bg-9{
    background-image: url('../IMAGES/img/8.png');
}
.banner  h1{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
}
.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.intro p{
    
    width: 700px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.intro button{
    background-color: #FD0003;
    padding: 10px 50px;
    border: 1px solid #591F1D;
    border-radius: 5px;
  
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}


.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}


.library{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;

    margin-bottom: 20px;
}
.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .banner h1{
        font-size: 5rem;
    }
    .library{
        grid-template-columns: repeat(2, 1fr);
    }
    .library img{
        height: 300px;
    }
}